@import "tailwindcss";

@custom-variant hover (&:hover);

@utility container {
  @apply mx-auto px-6 md:px-8 lg:px-16;
}

@utility empty-page {
  @apply py-24 text-4xl text-primary font-bold min-h-[91vh] flex items-center justify-center;
}

@theme {
  --color-primary: #ff7a00;
  --color-primary-hover: #ee7505;
  --color-footer-bg: #000;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  :root {
    --background: #fff;
    --foreground: #000;
  }
  .dark {
    --background: #000;
    --foreground: #fff;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  background-color: #eee;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #ff7a00;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c56206;
}
